*{ box-sizing: border-box; }

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer{
    max-width: 1200px;
    margin: 40px auto;
}

.container{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.lestSide{
    flex: 1;
    margin-right: 40px;
}

.lestSide h1{
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}

.lestSide p{
    font-size: 17px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.lestSide input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 15px;
    outline: 0;
}

.lestSide button{
    background-color: #227C9D;
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    transition: all ease .3s;
}

.lestSide button:hover{
    opacity: .8;
}

.rightSide{
    flex: 1;
    margin-left: 40px;
}